.div {
  width: 100%;
  margin-top: 79px;
  background: #fff;
  border: 1px solid var(--separator_alternate);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.li {
  display: flex;
  margin-top: 20px;
  align-items: center;
  border-bottom: 1px solid var(--separator_alternate);
  padding: 5px;
  box-sizing: border-box;
}

.li:first-child {
  margin-top: 0;
}
.li:last-child {
  border-bottom: 0;
}

.p {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 0 20px;
}

.img {
  width: 70px;
  height: 50px;
}
