.main {
  width: 100%;
  margin-top: 79px;
}

.profile {
  display: flex;
  flex-direction: column;
}

.bg {
  width: 100%;
  height: 277px;
  border-radius: 20px;
  object-fit: cover;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: -50px;
  left: 20px;
}

.about {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin-top: -30px;
  border: 1px solid var(--separator_alternate);
}

.text {
  padding: 20px 0;
  width: 400px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
}

.descr {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.flex {
  margin: 5px 0 0 0;
  display: flex;
  align-items: baseline;
}

.city {
  margin: 0;
  color: var(--silver);
}

.btn {
  width: 185px;
  margin-left: 10px;
  background: var(--bg-btn);
  color: var(--color);
  border: 0;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.7;
}

.serts {
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid var(--separator_alternate);
}

.sertsText {
  font-weight: 500;
  margin: 0;
}

.sertsFlex {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.image {
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid var(--separator_alternate);
  width: 150px;
}
.image:hover {
  opacity: 0.7;
}

.icon {
  width: 100%;
  transition: 0.2s;
}

.icon:last-of-type {
  margin-right: 0;
}

.bords {
  margin-top: 20px;
  display: flex;
}

.links {
  margin-left: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--separator_alternate);
  background: #fff;
}

.link {
  margin: 0;
  font-weight: 500;
}

.ul {
  padding: 0;
  display: flex;
  margin-top: 20px;
}

.socialLink {
  text-align: center;
  text-decoration: none;
  color: #000;
}

.li {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.li:hover {
  opacity: 0.7;
}

.li:last-of-type {
  margin-right: 0;
}

.liIcon {
  border-radius: 100%;
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.social {
  margin-top: 10px;
  font-size: 12px;
}

.commentary {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background: #fff;
  border: 1px solid var(--separator_alternate);
  margin-top: 20px;
  border-radius: 20px;
}

.commentaryProf {
  display: flex;
  align-items: center;
}

.profImg {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.profName {
  color: var(--text-link);
  margin: 0;
}

.profDescr {
  margin-top: 20px;
}

.linkProject {
  color: var(--text-link);
  text-decoration: none;
}

.projectText {
  display: block;
  margin-top: 10px;
  transition: 0.2s;
}

.projectText:hover {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .bords {
    flex-wrap: wrap;
  }
  .links {
    margin: 20px 0 0 0;
  }

  .serts {
    width: 100%;
  }
  .img {
    left: 50%;
    transform: translateX(-50%);
    top: -200px;
  }
  .text {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .city {
    width: 100%;
    text-align: center;
  }
  .sertsFlex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .ul {
    justify-content: space-around;
    align-items: center;
  }
}
