html {
  background: #edeef0;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --separator_alternate: #e7e8ec;
  --bg: #edeef0;
  --blue: #447bba;
  --hover: #e5ebf1;
  --silver: #626d7a;
  --color: #2688eb;
  --bg-btn: #e5ebf1;
  --text-link: #2a5885;
}


